.pink5 {
  position: relative;
  width: 12rem;
  height: 8rem;
  left: -740px;
  top: 1rem;

  background: #f66fcf;
}

.white5 {
  box-sizing: border-box;

  position: relative;
  width: 12rem;
  height: 8rem;
  left: -770px;
  top: -7.9rem;

  background: url(17EBD10E623EF83D514E8EADCF1CBF5D.jpg), #ffffff;
  border: 10px solid #ffffff;
}
